.cardContainer {
    margin: 2vw;
    display: flex;
}

.reqCard {
    width: 30%;
}

.acceptButton {
    background-color: #67945e !important;
    border: none !important;
    margin-right: 1vw;
}

.rejectButton {
    background-color: #871f08 !important;
    border: none !important;
}

@media (min-width: 501px) {
    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .cardContainer {
        flex-direction: column;
    }
}