.cardContainer {
    margin: 2vw;
    display: flex;
}

.reqCard {
    width: 30%;
}

.acceptButton {
    background-color: #67945e !important;
    border: none !important;
    margin-right: 1vw;
}

.rejectButton {
    background-color: #871f08 !important;
    border: none !important;
}

.acceptForm {
    padding: 1vw;
}
.acceptFormButton {
    background-color: #67945e !important;
    border: none !important;
    margin-top: 1vh;
    width: 50%;
}
.acceptButtonContainer {
    width: 100;
    text-align: center;
}

.rejectModal {
    padding: 2vh;
}

.rejectButtonContainer {
    width: 100%;
    text-align: center;
}

.rejectButtonFed {
    margin-top: 2vh;
    background-color:#871f08 !important;
    border: none !important;
}
@media (min-width: 501px) {
    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .cardContainer {
        flex-direction: column;
    }
    .reqCard {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .rejectButton {
        margin-top: 1vh;
    }
}