.postCard {
    margin: 2vw;
    width: 25%;
}
.form {
    width: 20%;
    background-color: rgba(250, 253, 243, 0.8);
    margin: 2vw;
    padding: 1vw;
}

.label {
    width: 20vw;
}
.mainContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(250, 253, 243, 0.8);
}


.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exitButtonContainer {
    width: 100%;
    text-align: center;
}
.exitButton {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: orange !important;
    border: none !important;
}

.title {
    margin-top: 2vh;
    text-align: center;
    font-size: 2em;
    color: orange;
}

.acceptOfferButton {
    background-color: #67945e !important;
    border: none !important;
}
.rejectOfferButton {
    background-color: #871f08 !important;
    border: none !important;
}

.princPage {
    background-color: #871f08 !important;
    border: none !important;
}
@media (min-width: 501px) and (max-width: 1024px) {
    .form {
        width: 40%;
    }
    .postCard {
        width: 40%;
    }

}

@media (min-width: 300px) and (max-width: 500px) {
    .postContainer {
        flex-direction: column;
    }
    .postCard {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .form {
        width: 70%;
    }
    .rejectOfferButton {
        margin-top: 1vh;
    }
    
}