.mainPage {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.mainPage::after {
    background-image: url('../../../Imgs/about_img.jpg');
	filter: brightness(50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.formContainer {
    padding: 2vw;
}

.tabs {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5vh;
	background-color: white;
}

.programButton {
    margin: 2vw;
    background-color: orange !important;
    border: none !important;
}

.formLabel, .icon {
	color: rgb(135, 31, 8);
}

.saveButton {
	background-color: #64ab55 !important;
	border: none !important;
}

.quitButton {
	background-color: rgb(135, 31, 8) !important;
	border: none !important;
	float: right;
}

@media (min-width: 300px) and (max-width: 500px) {
	/* .tabs {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid red;
	} */
}