@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formTitle {
    margin-top: 2vh;
    color:#990000;
}
.tags {
    color:#990000;
}
.icons {
    color: #408000;
}

.appleContainer {
    background-color: white;   
}

.saveDataButton {
    background-color: #408000 !important;
    margin-bottom: 2vh;
}

.formTitle {
    margin-top: 3vh;
}

.colContainer {
    background-image: url('../../../Imgs/profile.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}