@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.mainPage {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.mainPage::after {
    background-image: url('../../../Imgs/about_img.jpg');
	filter: brightness(50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.mainContainer {
    background-color: rgba(250, 253, 243, .7);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.inputItem {
    position: relative;
    top: 2vh;
}
.formTitle {
    margin-top: 2vh;
    color:#990000;
    color: orange;
    font-weight: 600;
    font-size: 2em;
}
.tags {
    color:#871f08;
}
.icons {
    color: #408000;
}

.appleContainer {
    background-color: white;   
}

.saveDataButton {
    background-color: #408000 !important;
    border: none !important;
    margin-bottom: 2vh;
}

.formTitle {
    margin-top: 3vh;
}


.rowContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexItem {
    width: 30%;
}
.alerts {
    width: 40%;
    margin: 1.5vw;
}

.updateContainer {
    padding: 2vw;
}

.saveEditButton {
    margin-top: 2vh;
    background-color: #871f08 !important;
    border: none !important;
}
@media (min-width: 1025px) {
    .mainContainer {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (min-width: 300px) and (max-width: 1024px) {
    .rowContainer {
        flex-direction: column;
    }
    .flexItem {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .formTitle {
        visibility: hidden;
    }
    .alerts {
        width: 100%;
    }
}