@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.cardForm {
    background-color: white;
    width: 25vw;
    height: 100%;
    border: none;
    position: relative;
    float: right;
    font-family: 'Roboto Slab', serif;
    padding: 3vw;
}
.cardBody {
    width: 100%;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}
.logoContainer {
    width: 90%;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}
.logo {
    max-width: 100%;
    height: auto;
}

.googleButton {
    margin-top: 2vh;
    background-color: #b30000 !important;
    border: none !important;
}

.forgotButton {
    background-color: transparent;
    border: none;
    width: 100%;
}