@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.navbar {
    background-color: #871f08;
}

.actionButton {
    background-color: orange !important;
    border: none !important;
}

.actionButton:hover {
    background-color: #A42819 !important;
}

.linkText {
    color: white !important;
}

.imgContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid redl
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.updateButtonContainer {
    width: 100%;
    text-align: center;
}

.updateButton {
    background-color: #871f08 !important;
    border: none !important;
}