@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.navbar {
    /* background-color: #A42819; */
}

.actionButton {
    width: 100%;
    background-color: #A42819 !important;
    border: none !important;
}

.actionButton:hover {
    background-color: #A42819 !important;
}

.linkText {
    color: white !important;
}