.modalContainer {
    font-family: 'Roboto Slab', serif !important;
    /* position: fixed; */
    z-index: 500;
    background-color: rgba(226, 163, 162, 0.9);
    width: 70%;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.7s ease-out;
    border: none;
    font-family: 'Oswald', sans-serif;

}

.exitButton {
    border: none;
    background: transparent;
}
