.mainPage {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.mainPage::after {
    background-image: url('../../../Imgs/about_img.jpg');
	filter: brightness(50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.tableTabs {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 7vh;
}