.mainContainer {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
#blueTheme{
    background-color: #ABCDA2;
}

#orangeTheme {
    background-color: #32965D;
}
#pinkTheme {
    background-color: #75D19D;
}
#headTable {
    color: #7C2927;
}
.treatmentTable {
    position: relative;
    top: 10vh;
}

.linkButton {
    border: none;
    background-color: transparent;
}