.arrowContainer {
    /* border: 3px solid white; */
    /* position: fixed; */
    /* bottom: 0; */
    animation: picatoare 1.5s linear;
}
.arrow {
    /* color: #002147; */
    /* animation: picatoare 4s linear infinite; */
    animation: blinker 1s linear infinite;
    float: right;
    margin-right: 1.5vw;
    bottom: 0;
    position: relative;
  }
  @keyframes picatoare {
    0% {top: 0vh;}
    10% {top: 10vh;}
    20% {top: 20vh;}
    30% {top: 30vh;}
    40% {top: 40vh;}
    50% {top: 50vh;}
    60% {top: 60vh;}
    70% {top: 70vh;}
    /* 80% {top: 60vh;}
    90% {top: 65vh;}
    100% {top: 70vh;} */
  }
  @keyframes blinker {
    /* 0% {color: #002147;font-size: 3.25em;}
    15% {color: #0b3361;font-size: 3.75em;}
    25% {color: #1a63b8; font-size: 4em;}
    50% {color: #4c729e; font-size: 4.25em;}
    65% {color: #4299ff; font-size: 4em}
    80% {color: #0b3361;font-size: 4.25em;}
    85% {color: #1a63b8; font-size: 4.50em;}
    100% {color: #4c729e; font-size: 4.70em;} */
    0% {color: #993333; font-size: 3.25em;}
    50% {color: #862d2d; font-size: 4em;}
    100% {color: #732626; font-size: 3.50}
    
  }
  